body, body[theme-mode="dark"] .semi-always-light {
--semi-red-0: 255,244,238;
--semi-red-1: 255,226,212;
--semi-red-2: 255,193,168;
--semi-red-3: 255,158,125;
--semi-red-4: 255,120,81;
--semi-red-5: 255,79,38;
--semi-red-6: 219,56,26;
--semi-red-7: 184,37,16;
--semi-red-8: 148,21,9;
--semi-red-9: 112,9,3;
--semi-pink-0: 254,237,238;
--semi-pink-1: 253,210,213;
--semi-pink-2: 251,166,175;
--semi-pink-3: 248,122,140;
--semi-pink-4: 246,79,109;
--semi-pink-5: 244,37,81;
--semi-pink-6: 208,25,70;
--semi-pink-7: 173,16,60;
--semi-pink-8: 137,8,49;
--semi-pink-9: 101,3,37;
--semi-purple-0: 248,234,247;
--semi-purple-1: 241,204,238;
--semi-purple-2: 227,158,224;
--semi-purple-3: 212,115,212;
--semi-purple-4: 194,78,198;
--semi-purple-5: 175,44,184;
--semi-purple-6: 151,34,164;
--semi-purple-7: 128,26,143;
--semi-purple-8: 106,18,123;
--semi-purple-9: 85,12,102;
--semi-violet-0: 245,238,250;
--semi-violet-1: 231,212,246;
--semi-violet-2: 205,171,236;
--semi-violet-3: 179,133,227;
--semi-violet-4: 152,97,217;
--semi-violet-5: 125,64,208;
--semi-violet-6: 96,48,172;
--semi-violet-7: 71,34,137;
--semi-violet-8: 48,22,101;
--semi-violet-9: 28,12,65;
--semi-indigo-0: 237,239,248;
--semi-indigo-1: 210,216,242;
--semi-indigo-2: 169,178,229;
--semi-indigo-3: 131,143,215;
--semi-indigo-4: 97,110,202;
--semi-indigo-5: 66,79,189;
--semi-indigo-6: 54,64,169;
--semi-indigo-7: 43,50,148;
--semi-indigo-8: 33,38,128;
--semi-indigo-9: 25,28,107;
--semi-blue-0: 235,246,255;
--semi-blue-1: 205,231,255;
--semi-blue-2: 156,206,255;
--semi-blue-3: 106,178,255;
--semi-blue-4: 57,150,255;
--semi-blue-5: 7,119,255;
--semi-blue-6: 0,95,219;
--semi-blue-7: 0,77,184;
--semi-blue-8: 0,59,148;
--semi-blue-9: 0,43,112;
--semi-light-blue-0: 235,248,254;
--semi-light-blue-1: 204,237,254;
--semi-light-blue-2: 154,217,253;
--semi-light-blue-3: 104,195,251;
--semi-light-blue-4: 55,172,250;
--semi-light-blue-5: 6,148,249;
--semi-light-blue-6: 0,121,213;
--semi-light-blue-7: 0,98,178;
--semi-light-blue-8: 0,76,142;
--semi-light-blue-9: 0,55,106;
--semi-cyan-0: 230,247,249;
--semi-cyan-1: 196,239,242;
--semi-cyan-2: 142,222,229;
--semi-cyan-3: 93,204,216;
--semi-cyan-4: 49,185,203;
--semi-cyan-5: 10,166,190;
--semi-cyan-6: 7,136,158;
--semi-cyan-7: 4,106,127;
--semi-cyan-8: 2,78,95;
--semi-cyan-9: 1,51,63;
--semi-teal-0: 228,247,247;
--semi-teal-1: 193,240,238;
--semi-teal-2: 137,225,223;
--semi-teal-3: 87,209,209;
--semi-teal-4: 43,192,194;
--semi-teal-5: 5,173,179;
--semi-teal-6: 3,142,149;
--semi-teal-7: 1,111,119;
--semi-teal-8: 0,82,90;
--semi-teal-9: 0,54,60;
--semi-green-0: 236,247,237;
--semi-green-1: 208,240,212;
--semi-green-2: 166,225,174;
--semi-green-3: 127,209,140;
--semi-green-4: 93,194,110;
--semi-green-5: 62,179,84;
--semi-green-6: 50,149,70;
--semi-green-7: 39,119,57;
--semi-green-8: 28,90,43;
--semi-green-9: 18,60,29;
--semi-light-green-0: 244,249,237;
--semi-light-green-1: 228,242,210;
--semi-light-green-2: 201,229,169;
--semi-light-green-3: 175,216,131;
--semi-light-green-4: 150,203,97;
--semi-light-green-5: 126,190,66;
--semi-light-green-6: 102,158,53;
--semi-light-green-7: 80,127,41;
--semi-light-green-8: 58,95,30;
--semi-light-green-9: 38,63,19;
--semi-lime-0: 242,251,232;
--semi-lime-1: 225,248,199;
--semi-lime-2: 200,240,147;
--semi-lime-3: 179,233,97;
--semi-lime-4: 162,225,50;
--semi-lime-5: 148,218,6;
--semi-lime-6: 120,182,3;
--semi-lime-7: 93,145,1;
--semi-lime-8: 68,109,0;
--semi-lime-9: 44,73,0;
--semi-yellow-0: 255,254,235;
--semi-yellow-1: 255,252,205;
--semi-yellow-2: 255,247,156;
--semi-yellow-3: 255,237,106;
--semi-yellow-4: 255,225,57;
--semi-yellow-5: 255,209,7;
--semi-yellow-6: 213,177,4;
--semi-yellow-7: 170,144,1;
--semi-yellow-8: 128,110,0;
--semi-yellow-9: 85,75,0;
--semi-amber-0: 255,254,237;
--semi-amber-1: 254,252,209;
--semi-amber-2: 253,245,163;
--semi-amber-3: 253,236,117;
--semi-amber-4: 252,223,72;
--semi-amber-5: 251,208,27;
--semi-amber-6: 209,176,20;
--semi-amber-7: 167,143,15;
--semi-amber-8: 126,109,10;
--semi-amber-9: 84,74,6;
--semi-orange-0: 255,250,235;
--semi-orange-1: 255,242,205;
--semi-orange-2: 255,226,156;
--semi-orange-3: 255,206,106;
--semi-orange-4: 255,183,57;
--semi-orange-5: 255,157,7;
--semi-orange-6: 213,120,4;
--semi-orange-7: 170,86,1;
--semi-orange-8: 128,58,0;
--semi-orange-9: 85,34,0;
--semi-grey-0: 249,249,249;
--semi-grey-1: 234,230,230;
--semi-grey-2: 205,198,198;
--semi-grey-3: 176,167,168;
--semi-grey-4: 146,136,138;
--semi-grey-5: 117,107,109;
--semi-grey-6: 97,85,88;
--semi-grey-7: 76,65,68;
--semi-grey-8: 56,46,49;
--semi-grey-9: 35,28,31;
--semi-brand-0: 255,239,240;
--semi-brand-1: 255,213,215;
--semi-brand-2: 255,170,178;
--semi-brand-3: 254,128,144;
--semi-brand-4: 254,86,113;
--semi-brand-5: 254,44,85;
--semi-brand-6: 218,31,74;
--semi-brand-7: 183,21,63;
--semi-brand-8: 147,12,52;
--semi-brand-9: 111,6,41;
--semi-white: 255,255,255;
--semi-black: 0,0,0;


}
body[theme-mode="dark"], body .semi-always-dark {
--semi-red-0: 109,14,9;
--semi-red-1: 145,27,16;
--semi-red-2: 181,44,25;
--semi-red-3: 216,64,36;
--semi-red-4: 252,88,50;
--semi-red-5: 253,126,91;
--semi-red-6: 253,162,131;
--semi-red-7: 254,196,172;
--semi-red-8: 254,227,214;
--semi-red-9: 255,245,239;
--semi-pink-0: 93,7,37;
--semi-pink-1: 129,14,50;
--semi-pink-2: 165,23,62;
--semi-pink-3: 200,34,75;
--semi-pink-4: 236,47,87;
--semi-pink-5: 240,86,114;
--semi-pink-6: 244,127,144;
--semi-pink-7: 247,168,177;
--semi-pink-8: 251,211,214;
--semi-pink-9: 253,238,239;
--semi-purple-0: 83,17,100;
--semi-purple-1: 104,24,121;
--semi-purple-2: 126,32,141;
--semi-purple-3: 149,41,162;
--semi-purple-4: 173,52,182;
--semi-purple-5: 193,84,197;
--semi-purple-6: 211,121,211;
--semi-purple-7: 226,161,224;
--semi-purple-8: 240,206,238;
--semi-purple-9: 248,235,247;
--semi-violet-0: 54,27,120;
--semi-violet-1: 69,36,141;
--semi-violet-2: 86,46,161;
--semi-violet-3: 105,57,182;
--semi-violet-4: 125,70,202;
--semi-violet-5: 151,101,213;
--semi-violet-6: 178,136,223;
--semi-violet-7: 204,173,234;
--semi-violet-8: 230,212,244;
--semi-violet-9: 245,238,250;
--semi-indigo-0: 28,31,102;
--semi-indigo-1: 38,43,123;
--semi-indigo-2: 48,55,143;
--semi-indigo-3: 60,69,164;
--semi-indigo-4: 73,85,184;
--semi-indigo-5: 103,114,198;
--semi-indigo-6: 136,146,212;
--semi-indigo-7: 172,181,227;
--semi-indigo-8: 212,217,241;
--semi-indigo-9: 238,240,248;
--semi-blue-0: 0,42,110;
--semi-blue-1: 0,58,146;
--semi-blue-2: 3,78,182;
--semi-blue-3: 11,100,217;
--semi-blue-4: 20,125,253;
--semi-blue-5: 67,154,253;
--semi-blue-6: 114,181,254;
--semi-blue-7: 161,207,254;
--semi-blue-8: 208,232,255;
--semi-blue-9: 236,246,255;
--semi-light-blue-0: 0,51,98;
--semi-light-blue-1: 0,71,134;
--semi-light-blue-2: 3,94,170;
--semi-light-blue-3: 10,120,205;
--semi-light-blue-4: 19,148,241;
--semi-light-blue-5: 64,172,244;
--semi-light-blue-6: 110,194,247;
--semi-light-blue-7: 158,215,249;
--semi-light-blue-8: 206,236,252;
--semi-light-blue-9: 235,247,254;
--semi-cyan-0: 4,50,62;
--semi-cyan-1: 7,76,93;
--semi-cyan-2: 10,104,123;
--semi-cyan-3: 14,132,154;
--semi-cyan-4: 19,162,185;
--semi-cyan-5: 56,182,199;
--semi-cyan-6: 98,201,213;
--semi-cyan-7: 146,220,227;
--semi-cyan-8: 198,238,241;
--semi-cyan-9: 231,247,248;
--semi-teal-0: 3,55,61;
--semi-teal-1: 5,84,91;
--semi-teal-2: 8,113,121;
--semi-teal-3: 11,144,152;
--semi-teal-4: 15,176,182;
--semi-teal-5: 52,194,197;
--semi-teal-6: 95,211,211;
--semi-teal-7: 143,226,225;
--semi-teal-8: 196,240,239;
--semi-teal-9: 230,248,247;
--semi-green-0: 21,61,31;
--semi-green-1: 32,91,46;
--semi-green-2: 44,121,61;
--semi-green-3: 57,152,76;
--semi-green-4: 70,182,91;
--semi-green-5: 100,197,116;
--semi-green-6: 133,211,145;
--semi-green-7: 170,226,178;
--semi-green-8: 211,240,214;
--semi-green-9: 237,248,239;
--semi-light-green-0: 38,62,21;
--semi-light-green-1: 59,93,33;
--semi-light-green-2: 80,123,45;
--semi-light-green-3: 103,154,58;
--semi-light-green-4: 126,185,71;
--semi-light-green-5: 150,199,101;
--semi-light-green-6: 175,213,134;
--semi-light-green-7: 201,227,171;
--semi-light-green-8: 228,241,211;
--semi-light-green-9: 243,248,238;
--semi-lime-0: 44,71,3;
--semi-lime-1: 67,106,5;
--semi-lime-2: 93,141,9;
--semi-lime-3: 119,177,12;
--semi-lime-4: 147,212,17;
--semi-lime-5: 169,221,58;
--semi-lime-6: 191,229,103;
--semi-lime-7: 213,238,150;
--semi-lime-8: 234,246,201;
--semi-lime-9: 246,251,233;
--semi-yellow-0: 84,74,3;
--semi-yellow-1: 127,110,6;
--semi-yellow-2: 169,144,10;
--semi-yellow-3: 211,177,15;
--semi-yellow-4: 253,209,20;
--semi-yellow-5: 253,224,67;
--semi-yellow-6: 254,237,114;
--semi-yellow-7: 254,246,161;
--semi-yellow-8: 255,252,208;
--semi-yellow-9: 255,254,236;
--semi-amber-0: 81,72,9;
--semi-amber-1: 122,106,15;
--semi-amber-2: 162,139,22;
--semi-amber-3: 203,172,30;
--semi-amber-4: 243,203,38;
--semi-amber-5: 245,219,80;
--semi-amber-6: 248,232,122;
--semi-amber-7: 250,242,166;
--semi-amber-8: 253,250,210;
--semi-amber-9: 254,253,237;
--semi-orange-0: 85,37,3;
--semi-orange-1: 128,62,6;
--semi-orange-2: 170,91,10;
--semi-orange-3: 213,125,15;
--semi-orange-4: 255,163,20;
--semi-orange-5: 255,188,67;
--semi-orange-6: 255,209,114;
--semi-orange-7: 255,228,161;
--semi-orange-8: 255,243,208;
--semi-orange-9: 255,251,237;
--semi-grey-0: 38,31,33;
--semi-grey-1: 59,49,52;
--semi-grey-2: 79,68,71;
--semi-grey-3: 100,88,91;
--semi-grey-4: 120,110,112;
--semi-grey-5: 149,139,140;
--semi-grey-6: 177,168,170;
--semi-grey-7: 206,199,200;
--semi-grey-8: 234,231,231;
--semi-grey-9: 249,249,249;
--semi-brand-0: 112,13,46;
--semi-brand-1: 148,22,59;
--semi-brand-2: 184,33,72;
--semi-brand-3: 219,46,86;
--semi-brand-4: 255,61,99;
--semi-brand-5: 255,100,125;
--semi-brand-6: 255,139,154;
--semi-brand-7: 255,177,185;
--semi-brand-8: 255,216,219;
--semi-brand-9: 255,241,241;
--semi-white: 255,255,255;
--semi-black: 0,0,0;


}
