@import './_palette.scss';

body, body[theme-mode="dark"] .semi-always-light {
--semi-color-white: rgba(var(--semi-white),1);
--semi-color-black: rgba(var(--semi-black),1);
--semi-color-primary: rgba(var(--semi-pink-5),1);
--semi-color-primary-hover: rgba(var(--semi-pink-6),1);
--semi-color-primary-active: rgba(var(--semi-pink-7),1);
--semi-color-primary-disabled: rgba(var(--semi-pink-2),1);
--semi-color-primary-light-default: rgba(var(--semi-pink-0),1);
--semi-color-primary-light-hover: rgba(var(--semi-pink-1),1);
--semi-color-primary-light-active: rgba(var(--semi-pink-2),1);
--semi-color-secondary: rgba(var(--semi-light-blue-5),1);
--semi-color-secondary-hover: rgba(var(--semi-light-blue-6),1);
--semi-color-secondary-active: rgba(var(--semi-light-blue-7),1);
--semi-color-secondary-disabled: rgba(var(--semi-light-blue-2),1);
--semi-color-secondary-light-default: rgba(var(--semi-light-blue-0),1);
--semi-color-secondary-light-hover: rgba(var(--semi-light-blue-1),1);
--semi-color-secondary-light-active: rgba(var(--semi-light-blue-2),1);
--semi-color-tertiary: rgba(var(--semi-grey-5),1);
--semi-color-tertiary-hover: rgba(var(--semi-grey-6),1);
--semi-color-tertiary-active: rgba(var(--semi-grey-7),1);
--semi-color-tertiary-light-default: rgba(var(--semi-grey-0),1);
--semi-color-tertiary-light-hover: rgba(var(--semi-grey-1),1);
--semi-color-tertiary-light-active: rgba(var(--semi-grey-2),1);
--semi-color-default: rgba(var(--semi-grey-0),1);
--semi-color-default-hover: rgba(var(--semi-grey-1),1);
--semi-color-default-active: rgba(var(--semi-grey-2),1);
--semi-color-success: rgba(var(--semi-green-5),1);
--semi-color-success-hover: rgba(var(--semi-green-6),1);
--semi-color-success-active: rgba(var(--semi-green-7),1);
--semi-color-success-disabled: rgba(var(--semi-green-2),1);
--semi-color-success-light-default: rgba(var(--semi-green-0),1);
--semi-color-success-light-hover: rgba(var(--semi-green-1),1);
--semi-color-success-light-active: rgba(var(--semi-green-2),1);
--semi-color-danger: rgba(var(--semi-red-5),1);
--semi-color-danger-hover: rgba(var(--semi-red-6),1);
--semi-color-danger-active: rgba(var(--semi-red-7),1);
--semi-color-danger-light-default: rgba(var(--semi-red-0),1);
--semi-color-danger-light-hover: rgba(var(--semi-red-1),1);
--semi-color-danger-light-active: rgba(var(--semi-red-2),1);
--semi-color-warning: rgba(var(--semi-yellow-5),1);
--semi-color-warning-hover: rgba(var(--semi-yellow-6),1);
--semi-color-warning-active: rgba(var(--semi-yellow-7),1);
--semi-color-warning-light-default: rgba(var(--semi-yellow-0),1);
--semi-color-warning-light-hover: rgba(var(--semi-yellow-1),1);
--semi-color-warning-light-active: rgba(var(--semi-yellow-2),1);
--semi-color-focus-border: rgba(var(--semi-pink-5),1);
--semi-color-disabled-text: rgba(var(--semi-grey-9),0.35);
--semi-color-disabled-border: rgba(var(--semi-grey-1),1);
--semi-color-disabled-bg: rgba(var(--semi-grey-1),1);
--semi-color-disabled-fill: rgba(var(--semi-grey-8),0.04);
-color-link: rgba(var(--semi-light-blue-5),1);
-color-link-hover: rgba(var(--semi-light-blue-6),1);
-color-link-active: rgba(var(--semi-light-blue-7),1);
-color-link-visited: rgba(var(--semi-light-blue-5),1);
--semi-color-shadow: rgba(var(--semi-black),0.04);
--semi-color-nav-bg: rgba(var(--semi-white),1);
--semi-color-fill-0: rgba(var(--semi-grey-8),0.05);
--semi-color-fill-1: rgba(var(--semi-grey-8),0.09);
--semi-color-fill-2: rgba(var(--semi-grey-8),0.13);
--semi-color-border: rgba(var(--semi-grey-9),0.08);
--semi-color-border-1: hsla(0,0%,39.2%,0.2);
--semi-color-bg-0: rgba(var(--semi-white),1);
--semi-color-bg-1: rgba(var(--semi-white),1);
--semi-color-bg-2: rgba(var(--semi-white),1);
--semi-color-bg-3: rgba(var(--semi-white),1);
--semi-color-bg-4: rgba(var(--semi-white),1);
--semi-color-text-0: rgba(var(--semi-grey-9),1);
--semi-color-text-1: rgba(var(--semi-grey-9),0.8);
--semi-color-text-2: rgba(var(--semi-grey-9),0.6);
--semi-color-text-3: rgba(var(--semi-grey-9),0.35);
--semi-color-info: rgba(var(--semi-blue-5),1);
--semi-color-info-hover: rgba(var(--semi-blue-6),1);
--semi-color-info-active: rgba(var(--semi-blue-7),1);
--semi-color-info-disabled: rgba(var(--semi-blue-2),1);
--semi-color-info-light-default: rgba(var(--semi-blue-0),1);
--semi-color-info-light-hover: rgba(var(--semi-blue-1),1);
--semi-color-info-light-active: rgba(var(--semi-blue-2),1);
--semi-border-radius-full:  9999px;
font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;;
-webkit-font-smoothing: antialiased;;
--semi-border-radius-extra-small: 3px;
--semi-border-radius-small: 3px;
--semi-border-radius-medium: 6px;
--semi-border-radius-large: 8px;
--semi-border-radius-circle: 50%;


}
body[theme-mode="dark"], body .semi-always-dark {
--semi-color-white: #e4e7f5;
--semi-color-black: rgba(var(--black),1);
--semi-color-primary: rgba(var(--semi-pink-5),1);
--semi-color-primary-hover: rgba(var(--semi-pink-6),1);
--semi-color-primary-active: rgba(var(--semi-pink-7),1);
--semi-color-primary-disabled: rgba(var(--semi-pink-2),1);
--semi-color-primary-light-default: rgba(var(--semi-pink-5),0.2);
--semi-color-primary-light-hover: rgba(var(--semi-pink-5),0.3);
--semi-color-primary-light-active: rgba(var(--semi-pink-5),0.4);
--semi-color-secondary: rgba(var(--light-blue-5),1);
--semi-color-secondary-hover: rgba(var(--light-blue-6),1);
--semi-color-secondary-active: rgba(var(--light-blue-7),1);
--semi-color-secondary-disabled: rgba(var(--light-blue-2),1);
--semi-color-secondary-light-default: rgba(var(--light-blue-5),0.2);
--semi-color-secondary-light-hover: rgba(var(--light-blue-5),0.3);
--semi-color-secondary-light-active: rgba(var(--light-blue-5),0.4);
--semi-color-tertiary: rgba(var(--semi-grey-5),1);
--semi-color-tertiary-hover: rgba(var(--semi-grey-6),1);
--semi-color-tertiary-active: rgba(var(--semi-grey-7),1);
--semi-color-tertiary-light-default: rgba(var(--semi-grey-5),0.2);
--semi-color-tertiary-light-hover: rgba(var(--semi-grey-5),0.3);
--semi-color-tertiary-light-active: rgba(var(--semi-grey-5),0.4);
--semi-color-default: rgba(var(--semi-grey-0),1);
--semi-color-default-hover: rgba(var(--semi-grey-1),1);
--semi-color-default-active: rgba(var(--semi-grey-2),1);
--semi-color-success: rgba(var(--semi-green-5),1);
--semi-color-success-hover: rgba(var(--semi-green-6),1);
--semi-color-success-active: rgba(var(--semi-green-7),1);
--semi-color-success-disabled: rgba(var(--semi-green-2),1);
--semi-color-success-light-default: rgba(var(--semi-green-5),0.2);
--semi-color-success-light-hover: rgba(var(--semi-green-5),0.3);
--semi-color-success-light-active: rgba(var(--semi-green-5),0.4);
--semi-color-danger: rgba(var(--semi-red-5),1);
--semi-color-danger-hover: rgba(var(--semi-red-6),1);
--semi-color-danger-active: rgba(var(--semi-red-7),1);
--semi-color-danger-light-default: rgba(var(--semi-red-5),0.2);
--semi-color-danger-light-hover: rgba(var(--semi-red-5),0.3);
--semi-color-danger-light-active: rgba(var(--semi-red-5),0.4);
--semi-color-warning: rgba(var(--semi-yellow-5),1);
--semi-color-warning-hover: rgba(var(--semi-yellow-6),1);
--semi-color-warning-active: rgba(var(--semi-yellow-7),1);
--semi-color-warning-light-default: rgba(var(--semi-yellow-5),0.2);
--semi-color-warning-light-hover: rgba(var(--semi-yellow-5),0.3);
--semi-color-warning-light-active: rgba(var(--semi-yellow-5),0.4);
--semi-color-focus-border: rgba(var(--semi-pink-5),1);
--semi-color-disabled-text: rgba(var(--semi-grey-9),0.35);
--semi-color-disabled-fill: rgba(var(--semi-grey-8),0.04);
--semi-color-disabled-border: rgba(var(--white),0.04);
--semi-color-disabled-bg: rgba(var(--semi-grey-2),1);
--semi-color-link: rgba(var(--light-blue-5),1);
--semi-color-link-hover: rgba(var(--light-blue-6),1);
--semi-color-link-active: rgba(var(--light-blue-7),1);
--semi-color-link-visited: rgba(var(--light-blue-5),1);
--semi-color-shadow: rgba(0,0,0,0.04);
--semi-color-nav-bg: var(--color-bg-1);
--semi-color-fill-0: rgba(var(--white),0.05);
--semi-color-fill-1: rgba(var(--white),0.09);
--semi-color-fill-2: rgba(var(--white),0.13);
--semi-color-border: rgba(var(--white),0.08);
--semi-color-bg-0: #16161a;
--semi-color-bg-1: #232429;
--semi-color-bg-2: #35363c;
--semi-color-bg-3: #43444a;
--semi-color-bg-4: #4f5159;
--semi-color-text-0: rgba(var(--semi-grey-9),1);
--semi-color-text-1: rgba(var(--semi-grey-9),0.8);
--semi-color-text-2: rgba(var(--semi-grey-9),0.6);
--semi-color-text-3: rgba(var(--semi-grey-9),0.35);
font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;;
-webkit-font-smoothing: antialiased;;
--semi-border-radius-extra-small: 3px;
--semi-border-radius-small: 3px;
--semi-border-radius-medium: 6px;
--semi-border-radius-large: 8px;
--semi-border-radius-circle: 50%;


}
